h1{
  color:black;
  text-align: center;

}
body{
  background-color: #eee;
}
.home{
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  background-color:  grey; }


  .vertical-center {
    margin: 0;
    position: absolute ;
    top: auto;


  }
  h2{
    color: black;
    font-weight: bold;
  }
